body{
  margin: 0;
  padding: 0;

}

.loading-overlay{
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../public/loading.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.9;

  
  z-index: 9999;
}

.loading-dots{
  margin: 0;
  padding: 0;
  display: flex;
}

.loading-dots li{
  list-style: none;
  width: 40px;
  height: 40px;
  background: floralwhite;
  border-radius: 50%;
  animation: animate 1.6s ease-in-out infinite;
}

@keyframes animate {
  0%,40%,100%{
    transform: scale(0.2);
  }
  20%{
    transform: scale(1);
  }
}

.loading-dots li:nth-child(1){
  animation-delay: -1.4s;
  background-color: #042f30;
  box-shadow: 0 0 20px #042f30;
}

.loading-dots li:nth-child(2){
  animation-delay: -1.2s;
  background-color: #053a3b;
  box-shadow: 0 0 20px #053a3b;
}

.loading-dots li:nth-child(3){
  animation-delay: -1s;
  background-color: #064b4d;
  box-shadow: 0 0 20px #064b4d;
}

.loading-dots li:nth-child(4){
  animation-delay: -0.8s;
  background-color: #086565;
  box-shadow: 0 0 20px #086565;
}

.loading-dots li:nth-child(5){
  animation-delay: -0.6s;
  background-color: #12807f;
  box-shadow: 0 0 20px #12807f;
}

.loading-dots li:nth-child(6){
  animation-delay: -0.4s;
  background-color: #3aa39d;
  box-shadow: 0 0 20px #3aa39d;
}

.loading-dots li:nth-child(7){
  animation-delay: -0.2s;
  background-color: #69c6c1;
  box-shadow: 0 0 20px #69c6c1;
}
